h1{
    padding: 20px;
    border: 1px solder red;
    text-align: center;
    background:black;
    color: #eee;
    font-size: 24px;
}
h2{
    font-weight: bold;
    font-size: 24px;
    margin:20px;
}
div{
    margin-left:40px;

    
    text-align: left;

}
.container{
    width:1024px;
     margin: 0 auto;

}
#main-bio,#bio-image,#contact-info{
    float: left;
}
p{
    margin:20px;
    padding:20px;
}